<table>
    <thead>
        <tr>
            <th><span>Given a third party app</span></th>
            <th><span>We now have a working version of it</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span>...with a </span><span style="color:red"><span>DEV=false JS bundle</span></span></td>
            <td><span>...with a </span><span style="color:green"><span>DEV=true JS bundle</span></span></td>
        </tr>
        <tr>
            <td><span>...with </span><span style="color:red"><span>release RN Java code</span></span></td>
            <td><span>...with </span><span style="color:green"><span>debug RN java code</span></span></td>
        </tr>
        <tr>
            <td><span>so </span><span style="color:red"><span>no Developer menu</span></span></td>
            <td><span>which </span><span style="color:green"><span>allows Developer menu</span></span></td>
        </tr>
        <tr>
            <td><span style="color:red"><span>no breakpoints</span></span></td>
            <td><span>we </span><span style="color:green"><span>can set breakpoints</span></span><span>*</span></td>
        </tr>
        <tr>
            <td><span>logs from JS appearing in </span><span style="color:orange"><span>logcat without
                        context</span></span></td>
            <td><span>logs from JS appearing in logcat and</span><br><span> </span><span
                    style="color:green"><span>Chrome Console with full JS context</span></span><span>*</span></td>
        </tr>
        <tr>
            <td><span style="color:orange"><span>had to repackage teh APK</span></span><span> every
                    time</span><br><span> to see modifications</span></td>
            <td><span>and </span><span style="color:green"><span>just Dev-Reload</span></span><span> to see JS
                    modifications </span><br><span>(by Shaking or pressing 'd' on the Dev Server terminal )</span></td>
        </tr>
        <tr>
            <td><span style="color:red"><span>no React Component inspection</span></span></td>
            <td><span>still </span><span style="color:red"><span>no React Component Hierarchy inspection</span></span>
            </td>
        </tr>
        <tr>
            <td><span style="color:red"><span>no Redux Dev Tools</span></span></td>
            <td><span>still </span><span style="color:red"><span>no Redux Dev Tools</span></span></td>
        </tr>
    </tbody>
</table>